env/
venv/
resources/_examples/
external/
config/config.ini
/config/cron_log.txt
/config/log.txt
/data/*_wetterdaten_CSV.zip

.idea/
.ipynb_checkpoints/
__pycache__/
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/


